.card-container {
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

a {
    text-decoration: none;
}

a .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px grey;
}

@media screen and (max-width: 800px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(8, 1fr);
    }
}

.btn-violet {
    color: #fff;
    background-color: #6B5B95;
    background-color: cutom-color;
    border-color: #6B5B95;
    border-color: cutom-cor;
}

.bg-violet {
    background-color: #6B5B95 !important;
}

.btn-turquoise {
    color: #fff;
    background-color: turquoise;
    background-color: cutom-color;
    border-color: turquoise;
    border-color: cutom-cor;
}

.bg-turquoise {
    background-color: turquoise !important;
}

.btn-dodgerblue {
    color: #fff;
    background-color: dodgerblue;
    background-color: cutom-color;
    border-color: dodgerblue;
    border-color: cutom-cor;
}

.bg-dodgerblue {
    background-color: dodgerblue !important;
}

.btn-greenery {
    color: #fff;
    background-color: #88B04B;
    background-color: cutom-color;
    border-color: #88B04B;
    border-color: cutom-cor;
}

.bg-greenery {
    background-color: #88B04B !important;
}

.btn-serenity {
    color: black;
    background-color: #92A8D1;
    background-color: cutom-color;
    border-color: #92A8D1;
    border-color: cutom-cor;
}

.bg-serenity {
    background-color: #92A8D1 !important;
}

.btn-quarts {
    color: black;
    background-color: #F7CAC9;
    background-color: cutom-color;
    border-color: #F7CAC9;
    border-color: cutom-cor;
}

.bg-quarts {
    background-color: #F7CAC9 !important;
}